@import '../assets/scss/mixins';
@import '../assets/scss/color';
@import '../components/SearchBox/SearcBox';
@import '../components/WatherBox/WeatherBox';

.App {
	text-align: center;
	background: #90c9fe;
}

.main {
	align-items: center;
	display: flex;
	height: 100vh;

	&__content {
		margin-left: auto;
		margin-right: auto;
	}
}