@import '../assets/scss/mixins';
@import '../assets/scss/color';
@import '../components/SearchBox/SearcBox';
@import '../components/WatherBox/WeatherBox';
@import '../components/Forecast/Forecast';
@import '../components/Loader/Loader';

.App {
	text-align: center;
	background: #90c9fe;
}

.main {
	align-items: center;
	min-height: 100vh;
	padding-top: 40px;

	&__content {
		margin-left: auto;
		margin-right: auto;

		&__col {
			margin-bottom: 40px;
		}
	}
}