.searchBox {
	margin: 0 auto 40px;
	padding-right: 0;
	padding-left: 0;
	position: relative;
	width: 100%;

	&__icon {
		color: $gray-1;
		position: absolute;
		right: 12px;
		top: 7px;
	}

	.rbt {
		width: 100%;

		&-input-main {
			@include border-radius(20px);
			background: $white;
			box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072),
			0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);

			overflow: hidden;
		}

		&-menu {
			@include border-top-left-radius(20px);
			@include border-bottom-left-radius(20px);
		}
	}
}